PORT=7000

# DEPLOYMENTS
DEPLOY=development
# console or cloud or all
LOG_DEPLOY=console

# DB
DB_URL=
REDIS_URL=redis://localhost:6379

# CLIENT SECRETS
CLIENT_SECRET=thebigsecret
CLIENT_ACCESS_TOKEN_EXPIRATION_TIME_SECOND=1800
CLIENT_REFRESH_TOKEN_EXPIRATION_TIME_SECOND=21600

# ADMIN SECRETS
ADMIN_SECRET=thetiniestsecret
ADMIN_ACCESS_TOKEN_EXPIRATION_TIME_SECOND=1800
ADMIN_REFRESH_TOKEN_EXPIRATION_TIME_SECOND=21600

# SITE URL
SITE_URL=http://localhost:3000
ADMIN_DASHBOARD_URL=http://localhost:3001
ORDERS_DASHBOARD_URL=http://localhost:3002

# AWS group and keys
AWS_ACCESS_KEY=
AWS_ACCESS_KEY_SECRET=
AWS_ACCESS_REGION=

# s3 bucket
S3_BUCKET=job-portal-dev

# LOGGER Stream
CLOUDWATCH_LOG_STREAM=v3

# Google OAuth (Google login) - OAuth 2.0 Client ID
GOOGLE_CLIENT_ID=

# Emailer
EMAIL_MAIN=hello@jobportal.com
EMAIL_NO_REPLY=no_reply@jobportal.com
