node_modules/
.yarn/
.yarnrc
.yarnrc.*
.idea/
.gcloudignore
.DS_Store*
*~
./log
dump.rdb

app.yaml
app-prod-google.yaml

randoms/
build/
access/ 
build/
keys/
coverage/
src/data/*/*.js
src/scripts/*/*.js
/sh-scripts
/scripts
/sh-scripts

.env
.env.dev
.env.refactor
.env.migrate
.env.prod*
.env.scripts
.env.test
.env.refactor
.env.staging
.env.local
firebase-adminsdk.*

yarn-error.log
tsconfig.tsbuildinfo*

.cache
.xmigrate
xmigrate.js
migrations-log/
report*

migrate-mongo-config.js

shurjopaynode.log
shurjopay-plugin.log

*.tasks
import-debug.log